.btn { border:1px solid black; background:#fff; border-radius:5px; color:#000;}

.btn:hover,
.btn:focus { background:#000; color:#fff;}



//my empty row for comment


.model-b{margin-right:10px;}
.model-b-list{margin-right:10px;}


.test {font-size: 3.2rem;position: fixed;z-index: -1;top: 45%;left: 50%;display: none;visibility: hidden;overflow: auto;width: 70%;min-height: 2rem;-webkit-transition: all ease .5s;transition: all ease .5s;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);text-align: left;opacity: 0;border-radius: .8rem;background-color: rgba(255,255,255,1);}